@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: rgb(249, 252, 254) fixed;
}

.container {
    display: flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    margin:10px;
    background-color: rgb(240,249,255);
    -webkit-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    min-width:60%;
}

p{
    padding:0;
    margin:0;
}

.form_container{
    display: flex;
    flex-direction:column;
    align-items:space-around;
    justify-content: space-around;
    min-height:500px;
    min-width: 40%;
}

.test_container{
    min-width: 40%;
    min-height: 200px;
}

.button{
    width:10%;
    height:40px;
    background-color: rgb(127, 213, 199);
    border-radius: 20px;
    margin: 10px;
    border: none;
    font: inherit;
    -webkit-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
}

.button:hover{
    background-color: rgb(119, 206, 192);
    transition: 0.3s;
}

.button:active{
    background-color:  rgb(127, 213, 199);
}

.input{
    height:30px;
    background-color: #fff;
    border-radius: 20px;
    border: rgb(210, 176, 220) solid 2px;
    padding: 5px;
    font: inherit;
    outline: none;
}
