@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300&display=swap');

body{
    font-family: 'Krub', sans-serif;
    font-size: 18px;
    background: rgb(249, 252, 254) fixed;
}

.container {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    padding:20px;
    margin:10px;
    min-height: 600px;
    background-color: rgb(240,249,255);
    -webkit-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}
.card_container{
    width:80%;
    display: flex;
    min-height: 400px;
    justify-content:space-around;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
}
.card_register{
    width: 50%;
    background: rgb(95, 167, 235);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.card_register_container{
    width:70%;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_login_container{
    width:70%;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_login{
    width: 50%;
    padding:20px;
    background: rgb(255, 255, 255);
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.form_container{
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.input_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_button_register{
    font: inherit;
    width: 40%;
    height:35px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
}

.card_button_register:hover{
    background-color: rgb(227, 241, 255);
    transition: 0.5s;
}

.card_button_register:active{
    background-color: #fff;
    transition: 0.2s;
}

.sign_in_input{
    height:30px;
    background-color: #fff;
    border-radius: 20px;
    border: rgb(95, 167, 235) solid 2px;
    padding: 5px;
    font: inherit;
    outline: none;
}

.sign_in_button{
    width:40%;
    height:35px;
    background-color: rgb(95, 167, 235);
    border-radius: 20px;
    border: none;
    font: inherit;
}

.sign_in_button:hover{
    background-color: rgb(143, 198, 250);
    transition: 0.5s;
}

.sign_in_button:active{
    background-color: rgb(95, 167, 235);
    transition: 0.2s;
}

.error{
    color: #ffc107;
}
