@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:20px;
    margin:20px;
    height: 30px;
    background-color: rgb(127, 213, 199);
    -webkit-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 11px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

.title{
    font-weight:300;
    font-size:24px;
}

.code{
    font-weight:300;
    font-size: 15px;
}

.text_container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-width: 60%;
}


.button{
    font: inherit;
    width: 25%;
    height:35px;
    background-color: #fff;
    border-radius: 20px;
    border: none;
}
